/* @import-normalize; bring in normalize.css styles */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border:none;
    cursor:pointer;
    outline:none;
    border-radius: 4px;
    box-shadow: inset -2px -2px 2px rgba(0,0,0,0.3), inset 2px 2px 2px #fff, 0 2px 1px rgba(193,193,193,0.1), 2px 4px 4px rgba(0,0,0,0.2);
    padding: 4px 6px 4px 4px;     
}

button:hover{
  background-color:#e0e5ebf3;
}

button:active{
  background-color:#e0e5ebdd;
  box-shadow: inset -2px -2px 2px rgba(0,0,0,0.3), inset 2px 2px 2px #fff, 0 2px 0px rgba(193,193,193,0.15), 2px 4px 2px rgba(0,0,0,0.3);
}

ul, li, p {
  margin: 0;
  padding:0;
}